<h1>Cocktails List</h1>
<div class="cochtails-container">
  @if (cochtails && cochtails.length > 0) {
    @defer (on timer(2000ms)) {
      @for (coktail of cochtails; track coktail.idDrink) {
        <div (click)="onShowDetailsCoktail($event, coktail.idDrink)" class="cochtail-card">
          <h4>{{ coktail.strDrink }}</h4>
          <div>Glass: {{ coktail.strGlass }}</div>
          <img src="{{ coktail.strDrinkThumb }}" width="120" height="120">
        </div>
      }
    } @placeholder {
      <div>Загрузка...</div>
    } @error {
      <div>Не удалось загрузить данные...</div>
    }
  } @else {
    <div>Ничего не найдено...</div>
  }
</div>
